
html {
    height: 100%;
    box-sizing: border-box;
}
body {margin: 0;
      background-color: #111;
      color:white;
      position: relative;
      margin: 0;
      padding-bottom: 6rem;
      min-height: 100%;}

a {
text-decoration:none;
}
.content {
    margin:0 auto;
}
.row {
    margin:0 auto;
}

/*banneri*/
.jumbotron {
    background-color: #3fbdd6;
    font-family: "Shadows Into Light";
    margin-top: -1.4em;


}
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #d66a3f;
    text-align: center;
}
/*social media*/
.fa {
  padding: 3px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color:white;
}
.fa:hover {
    opacity: 0.7;
    
/*digital_art-sivun video ja sen säätö*/
video {
    width: 100%;
    height: auto;
}

.animations {
   margin:0 auto;
   padding:1em;
}

.naama {
     width: 90%;
    height: auto;
    padding-bottom: 2em;
    border-radius: 10%;
}
    * {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.6%;
}



/*responsiivisuus*/
@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .naama {
         width: 40%;
    height: auto;
        padding-bottom: 1em;
    }
   .canvas, .animation_container, .dom_overlay_container {
        max-width: 80%;
    }
   
}

/*responsiivisuus*/
@media screen and (max-width: 900px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .naama {
         width: 80%;
        height: auto;
        padding-bottom: 1em;
    }
     .canvas, .animation_container, .dom_overlay_container {
        max-width: 80%;
    }
    
}
